local.properties
gradle.properties

# for gradle, IDEA
.gradle
build/
*.iml
!.idea/runConfigurations/*
.idea/*.xml
.idea/.name
.idea/copyright/
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/
.idea

# for eclipse
bin
gen
.classpath
.project


# for Crashlytics
crashlytics.properties

.DS_Store
